.margin{width:1200px;margin:0 auto}
header{position: relative;}
header .head-t{height:29px;background:#f7f7f7;padding-top:6px;border-bottom:1px solid #ededed;}
header .head-t .head-t-l{float:left;}
header .head-t .head-t-l .souye{margin:0 5px;font:12px/22px "";color:#666;}
header .head-t .head-t-l .dizhi{display:inline-block;margin-left:5px;background:#fff url(../img/xiajian.png) no-repeat 55px 7px;font:12px/22px "";color:#666;border:1px solid #666;padding-left:12px;width:60px;}
header .head-t .head-t-r{float:right;}
header .head-t .head-t-r a{display:inline-block;font:12px/22px "";color:#666;}
header .head-t .head-t-r a.te{color:#06c;}
header .head-t .head-t-r span{margin:0 5px;color:#666;}
header .head-t .head-t-r i{display:inline-block;color:#cc4545;font:14px/22px "";}
header .head-m img{width:100%;}
header .head-b{height:100px;display:flex;justify-content:space-between;}
header .head-b .seach{padding-top:20px;}
header .head-b .seach .sou{height:36px;}
header .head-b .seach .sou .txt{float:left;padding:0 5px;border:3px solid #c7181d;width:460px;height:30px;}
header .head-b .seach .sou .sub{float:left;width:73px;height:36px;border:0;background:#c7181d url(../img/seach.png) no-repeat center;cursor: pointer;}
header .head-b .seach .jingzhun{margin-top:5px;}
header .head-b .seach .jingzhun a{display:inline-block;font:12px/1 "";color:#666; margin-left:3px;}
header .head-b .seach .jingzhun a.te{color:#c51010;}
header .head-b .car{margin-top:20px;height:34px;width:158px;border:1px solid #666;padding:0 5px;}
header .head-b .car span{display:inline-block;font:12px/34px "";color:#666;cursor: pointer;margin-left:6px;}
header .head-b .car i{color:#c7181d;font:16px/34px "";display: inline-block;text-align: center;width:58px;}
banner img{width:100%;}
main{background:#ededed;padding:50px 0;}
main .moren{background:#fff;border:1px solid #666;height:43px;}
main .moren a{float:left;width:81px;font:16px/43px "";color:#666;text-align: center;border-right:1px solid #666;}
main ul{overflow: hidden;}
main ul li{float:left;margin:10px 5px;background:#fff;width:230px;}
main ul li p{color: #666;height: 40px;padding: 6px 10px 0;margin-bottom: 10px;}
main ul li .bottom{overflow: hidden;}
main ul li i{float: left;margin-left: 10px;font:12px/2 "";color:#666;}
main ul li b{color: #FF062A;font:20px/24px "";margin-left: 5px;float: left;}
main ul li span{float: left;margin-left: 5px;font:12px/2 "";color: #999;text-decoration: line-through;}
main ul li s{float: right;width: 64px;height: 20px;background-color: #e63e3e;font:12px/20px "";text-align: center;border-radius: 4px;margin-right: 10px;color:#fff;}

footer{background:#fff;position: relative;}
footer .footer-t{padding-top:50px;text-align: center;}
footer .footer-t i{display: inline-block;width:100px;height:2px;background:#888;vertical-align:middle;}
footer .footer-t span{font:16px/24px "";color:#666;margin:0 30px;vertical-align:middle;}
footer .footer-m{overflow: hidden;}
footer .footer-m ul{float:left;width:120px;padding:20px 96px 20px 0 ;}
footer .footer-m ul.last{padding:20px 0;}
footer .footer-m ul li{font:12px/22px "";color:#888;}
footer .footer-m ul li.first{color:#666;border-bottom:1px dashed #666;} 
footer .footer-b{text-align: center;}
footer .footer-b span{display:block;font:12px/2 "";color:#666;}






















