.margin{width:1200px;margin:0 auto}
.bg1{background-image:url(../img/sprite_category.png);}
.bg2{background-image:url(../img/bj2.png);}
header{position: relative;}
header .head-t{height:29px;background:#f7f7f7;padding-top:6px;border-bottom:1px solid #ededed;}
header .head-t .head-t-l{float:left;}
header .head-t .head-t-l .souye{margin:0 5px;font:12px/22px "";color:#666;}
header .head-t .head-t-l .dizhi{display:inline-block;margin-left:5px;background:#fff url(../img/xiajian.png) no-repeat 55px 7px;font:12px/22px "";color:#666;border:1px solid #666;padding-left:12px;width:60px;}
header .head-t .head-t-r{float:right;}
header .head-t .head-t-r a{display:inline-block;font:12px/22px "";color:#666;}
header .head-t .head-t-r a.te{color:#06c;}
header .head-t .head-t-r span{margin:0 5px;color:#666;}
header .head-t .head-t-r i{display:inline-block;color:#cc4545;font:14px/22px "";}
header .head-m img{width:100%;}
header .head-b{height:100px;display:flex;justify-content:space-between;}
header .head-b .seach{padding-top:20px;}
header .head-b .seach .sou{height:36px;}
header .head-b .seach .sou .txt{float:left;padding:0 5px;border:3px solid #c7181d;width:460px;height:30px;}
header .head-b .seach .sou .sub{float:left;width:73px;height:36px;border:0;background:#c7181d url(../img/seach.png) no-repeat center;cursor: pointer;}
header .head-b .seach .jingzhun{margin-top:5px;}
header .head-b .seach .jingzhun a{display:inline-block;font:12px/1 "";color:#666; margin-left:3px;}
header .head-b .seach .jingzhun a.te{color:#c51010;}
header .head-b .car{margin-top:20px;height:34px;width:158px;border:1px solid #666;padding:0 5px;}
header .head-b .car span{display:inline-block;font:12px/34px "";color:#666;cursor: pointer;margin-left:6px;}
header .head-b .car i{color:#c7181d;font:16px/34px "";display: inline-block;text-align: center;width:58px;}

nav{background:#a71b1b;border-top:1px solid #7a090b;height:39px;position: relative;}
nav .biao{float:left;display:block;width:100px;text-align: center;color:#fff;font:16px/39px "";height:39px;}
nav .biao:hover{background-color:#6c0709;}
nav .biao.te{width:190px;height:39px;background-position:0 -16px;}
nav .biao.te:hover{background-position:0 -76px;}
nav dl{position: absolute;top:39px;left:74px;height:470px;background:rgba(255,255,255,.9);z-index:20;}
nav dl dt{width:190px;position: relative;line-height: 24px;height: 24px;font-size: 12px;color: #666;padding: 6px 5px 6px 15px;cursor: pointer;}
nav dl dt:hover i{transform:rotate(360deg)}
nav dl dt i{display: inline-block;width: 16px;height: 16px;background-position:-64px 0;margin-right: 10px;vertical-align: middle;transition: .8s ease;}
nav dl dt:nth-child(1) i{background-position:0 0;}
nav dl dt:nth-child(2) i{background-position:-80px 0;}
nav dl dt:nth-child(3) i{background-position:-16px 0;}
nav dl dt:nth-child(4) i{background-position:-112px 0;}
nav dl dt:nth-child(5) i{background-position:-144px 0;}
nav dl dd{display:none;position: absolute;width:1010px;height:470px;top: 0;left: 210px;box-shadow: 1px 2px 1px 0 #ccc;background-color: #fff;}
nav dl dd .title{font-size: 15px;color: #333;font-weight: bold;border-bottom: 1px solid #ebebeb;margin: 0 15px;height: 37px;}
nav dl dd .title span{display:inline-block; text-align: center;width: 120px;height: 36px;line-height: 38px;cursor: pointer;}
nav dl dd .title span.cur{border-bottom:3px solid #a71b1b;}
nav dl dd .content{height:360px;width:980px;}
nav dl dd .content .fenlei{display:block;width:850px;}
nav dl dd .content .fenlei b{float:left;width: 100px;padding: 6px 10px 6px 20px;font: 16px/2 "";;font-weight: bold;}
nav dl dd .content .fenlei ul{float:left;padding-top: 6px;border-bottom: 1px solid #ebebeb;width:700px;height:38px;}
nav dl dd .content .fenlei li{float:left;font:12px/28px "";padding: 0 10px;} 
nav dl dd .content .pinpai{display:none;}
nav dl dd .content .pinpai li{float:left;}
nav dl dd .content .pinpai img{padding: 7px 14px 0 14px;}

banner{position: absolute;left:0;right:0;}
banner .l{position:absolute;left:0;top:0;}
banner #breath{position: relative;height:470px;background:#fff;z-index:10;}
banner #breath li{position: absolute;z-index:10;opacity:0;}
banner #breath li.cur{opacity:1;}
banner #breath dl{position: absolute;z-index:10;bottom:0;right:0;height:40px;}
banner #breath dl dd{float:left;width:20px;height:20px;border-radius:50%;background:#fff;margin:10px;cursor: pointer;}
banner #breath dl dd.cur{background:#c7181d;}
banner .r{position: absolute;right:0;top:0;z-index:9}

section{background:#ebebeb;padding-top:20px;position: relative;top:470px;}
section #dijia{background:#fff;}
section #dijia .dijia-t{border-bottom:1px solid #ccc;width:1200px;height:52px;}
section #dijia .dijia-t .title{display:inline-block;height:52px;width:210px;text-align: center;font:14px/52px "";}
section #dijia .dijia-t .title i{display:inline-block; width:25px;height:25px;margin-right:10px;vertical-align:middle;}
section #dijia .dijia-t .title i.i1{background-position:-25px 0;}
section #dijia .dijia-t .title i.i2{background-position:-50px 0;}
section #dijia .dijia-t .title i.i3{background-position:-105px 0;}
section #dijia .dijia-t .title.cur{border-bottom: solid 1px #c5181c;background: #fdf3f2;color: #d63334;}
section #dijia .dijia-t .title:hover i.i2{background-position:-76px 0;}
section #dijia .dijia-t .title:hover i.i3{background-position:-132px 0;}
section #dijia .dijia-b ul{position: relative;width:1200px;height:200px;overflow: hidden;}
section #dijia .dijia-b ul li{position: absolute;left:0;top:200px;}
section #dijia .dijia-b ul li.cur{top:0;}
section .middle{margin-top:50px;display:flex;justify-content: space-between;}

main{background:#ebebeb;padding-top:50px;position: relative;top:470px;} 

main #shejian .shejian-t{height:42px;} 
main #shejian .shejian-t .shejian-t-l{float:left;}
main #shejian .shejian-t .shejian-t-l i{float:left;width: 5px;margin-top: 3px;height: 25px;background: #ff7b30;}
main #shejian .shejian-t .shejian-t-l h3{float:left;color: #ff7b30;margin-left: 15px;margin-right: 10px;font-size: 22px;font-weight: bolder;}
main #shejian .shejian-t .shejian-t-l a{float:left;margin-left: 10px;color: #666;font: 14px/25px "";}
main #shejian .shejian-t .shejian-t-r{float:right;}
main #shejian .shejian-t .shejian-t-r a{float:right;margin-top: 6px;line-height: 16px;font-size: 14px;color: #333;}
main #shejian .shejian-b{overflow: hidden;} 
main #shejian .shejian-b .shejian-b-l{float:left;}
main #shejian .shejian-b ul{margin:5px}
main #shejian .shejian-b ul li{float:right;margin:15px;}
main #jiaju{margin-top:50px;}
main #jiaju .shejian-t{height:42px;} 
main #jiaju .shejian-t .shejian-t-l{float:left;}
main #jiaju .shejian-t .shejian-t-l i{float:left;width: 5px;margin-top: 3px;height: 25px;background: #1bb145;}
main #jiaju .shejian-t .shejian-t-l h3{float:left;color: #1bb145;margin-left: 15px;margin-right: 10px;font-size: 22px;font-weight: bolder;}
main #jiaju .shejian-t .shejian-t-l a{float:left;margin-left: 10px;color: #666;font: 14px/25px "";}
main #jiaju .shejian-t .shejian-t-r{float:right;}
main #jiaju .shejian-t .shejian-t-r a{float:right;margin-top: 6px;line-height: 16px;font-size: 14px;color: #333;}
main #jiaju .shejian-b{overflow: hidden;} 
main #jiaju .shejian-b .shejian-b-l{float:left;}
main #jiaju .shejian-b ul{margin:5px}
main #jiaju .shejian-b ul li{float:right;margin:15px;}
main #zhineng{margin-top:50px;}
main #zhineng .shejian-t{height:42px;} 
main #zhineng .shejian-t .shejian-t-l{float:left;}
main #zhineng .shejian-t .shejian-t-l i{float:left;width: 5px;margin-top: 3px;height: 25px;background: #2289ff;}
main #zhineng .shejian-t .shejian-t-l h3{float:left;color: #2289ff;margin-left: 15px;margin-right: 10px;font-size: 22px;font-weight: bolder;}
main #zhineng .shejian-t .shejian-t-l a{float:left;margin-left: 10px;color: #666;font: 14px/25px "";}
main #zhineng .shejian-t .shejian-t-r{float:right;}
main #zhineng .shejian-t .shejian-t-r a{float:right;margin-top: 6px;line-height: 16px;font-size: 14px;color: #333;}
main #zhineng .shejian-b{overflow: hidden;} 
main #zhineng .shejian-b .shejian-b-l{float:left;}
main #zhineng .shejian-b ul{margin:5px}
main #zhineng .shejian-b ul li{float:right;margin:15px;}

footer{background:#fff;position: relative;top:470px;}
footer .footer-t{padding-top:50px;text-align: center;}
footer .footer-t i{display: inline-block;width:100px;height:2px;background:#888;vertical-align:middle;}
footer .footer-t span{font:16px/24px "";color:#666;margin:0 30px;vertical-align:middle;}
footer .footer-m{overflow: hidden;}
footer .footer-m ul{float:left;width:120px;padding:20px 96px 20px 0 ;}
footer .footer-m ul.last{padding:20px 0;}
footer .footer-m ul li{font:12px/22px "";color:#888;}
footer .footer-m ul li.first{color:#666;border-bottom:1px dashed #666;} 
footer .footer-b{text-align: center;}
footer .footer-b span{display:block;font:12px/2 "";color:#666;}




#lou{width:30px;border:1px solid #000;position: fixed;right:30px;bottom:20px;display:block;z-index: 100;}
#lou li{font:12px/24px "";border-bottom:1px solid #000;color:#666;text-align: center;cursor: pointer;}
























































